# Réaliser une ACP avec sklearn

In [5]:
import pandas
import numpy
from sklearn.preprocessing import StandardScaler

In [6]:
## Définition d'une matrice :
x = [ [12, 30, 80, -100],
     [-1000, 12, -23, 10],
     [14, 1000, 0, 0]
    ]

## Ensuite on peut obtenir un df ou une matrice np :
x_np = numpy.asarray(x)

x_pd = pandas.DataFrame(x)

In [7]:
## Afficher les statistiques descriptives de la matrice :
x_pd.describe()

                 0            1          2           3
count     3.000000     3.000000   3.000000    3.000000
mean   -324.666667   347.333333  19.000000  -30.000000
std     584.856678   565.297562  54.064776   60.827625
min   -1000.000000    12.000000 -23.000000 -100.000000
25%    -494.000000    21.000000 -11.500000  -50.000000
50%      12.000000    30.000000   0.000000    0.000000
75%      13.000000   515.000000  40.000000    5.000000
max      14.000000  1000.000000  80.000000   10.000000

In [9]:
## On instancie notre scaler (il faut normaliser les données pour les rendre comparable)
scaler = StandardScaler()

scaler.fit(x_pd) ## fitting

x_scaled = scaler.transform(x_pd) ## entraînement

## Puis on le transforme en df :
df_res = pandas.DataFrame(x_scaled)

## On affiche les statistiques descriptives de la matrice standardisée :

df_res.describe().round(2)

          0     1     2     3
count  3.00  3.00  3.00  3.00
mean   0.00  0.00  0.00  0.00
std    1.22  1.22  1.22  1.22
min   -1.41 -0.73 -0.95 -1.41
25%   -0.35 -0.71 -0.69 -0.40
50%    0.71 -0.69 -0.43  0.60
75%    0.71  0.36  0.48  0.70
max    0.71  1.41  1.38  0.81